.body {
  display: flex;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .bodyNav {
    flex: 1 0 10%;
  }

  .bodyMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
